<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/styles.css">
        <title>
            Private Lessons
        </title>
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/teachers" class="">Teachers</a>
                <a href="/students" class="">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

       <script src="/script.js"></script>
    </body>
</html>