{% extends "layout.njk"%}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{teacher.avatar_url}}) center center no-repeat">
        </section>
        <section class="details">
            <form method="post" action="/teachers?_method=PUT">
                <p>Editar Professor</p>

                {% include 'teachers/fields.njk'%}
                
                <input 
                type="hidden" 
                name="id" 
                value="{{teacher.id}}">
            </form>
            <form  action="/teachers?_method=DELETE" method="post">
                <input 
                type="hidden" 
                name="id" 
                value="{{teacher.id}}">
                <button id="form-delete"  type="submit">Deletar</button>
            </form>
        </section>
    </div>
{% endblock %}