{% extends "layout.njk"%}

{% block content %}

<form class="card" method="post" action="/teachers">
    <section 
    class="avatar">
    </section>
    <section class="details">

       <p>Editar Professor</p>


{% include 'teachers/fields.njk'%}
        

    </section>
</form>

{% endblock %}
