<div class="item">
           <div>Avatar URL</div>
           <input 
           type="url"
           name="avatar_url"
           placeholder="http://">
       </div>

       <div class="item">
           <div>Nome Completo</div>
           <input 
           type="text"
           name="name"
           placeholder="Nome do Professor"
           >
       </div>

       <div class="item">
           <div>Data de nascimento</div>
           <div>
               <input 
               type="date" 
               name="birth">
            </div>
       </div>

       <div class="item">
           <div>Grau de Escolaridade</div>
           <div>
               <select name="degreesOfEducation">
                <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                <option value="Mestrado">Mestrado</option>
                <option value="Doutorado">Doutorado</option>
                </select>
           </div>
       </div>

       <div class="item">
           <div>Tipo de Aula</div>
           <span><input 
           type="radio" 
           name="classes"
           value="P" checked>Presencial</span>
           <span><input 
           type="radio" 
           name="classes"
           value="D">À distância</span>
       </div>

       <div class="item">
           <div>Disciplinas</div>
           <div>
               <input 
               type="text" 
               name="subjects"
               placeholder="Digite aqui as disciplinas e separe com vírgulas.">
           </div>
       </div>

        <button type="submit">Salvar</button>