{% extends "layout.njk"%}

{% block content %}
<div class="card">
    <section 
    class="avatar">
    </section>
    
    <section class="details">
       <p>Detalhes</p>
       <div class="item">
           <div>Professor</div>
           <div>Dimas Alves Pereira</div>
       </div>

       <div class="item">
           <div>Idade</div>
           <div>40</div>
       </div>

       <div class="item">
           <div>Grau de Escolaridade</div>
           <div>Estudante</div>
       </div>

       <div class="item">
           <div>Tipo de Aula</div>
           <span>Presencial</span>
           <span>À distancia</span>
       </div>

       <div class="item">
           <div>Disciplinas</div>
           <span>Matemática</span>
           <span>Português</span>
       </div>

       <div class="item">
           <div>Desde</div>
           <div>01/01/2019</div>
       </div>
    </section>
</div>
{% endblock %}
